/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Container for the About Us Page */
.about-container {
  width: 100%;
  margin: 0 auto;
  /* padding: 0 20px; */
  color: #333;
}

/* Hero Section */
.hero-section-about {
  background: url('./aboutHero.jpg') no-repeat center center/cover;
  padding: 0px 10px;
  color: white;
  border-bottom: 4px solid #f1f1f1;
  height: 120vh;
  display: flex;
}

.hero-vide {
  width: 550px;
}

.hero-content {
  position: relative;
  z-index: 2;
  width: 50%;
  /* text-align: right; */
}


.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
}


.hero-content p.subtitle {
  font-size: 20px;
  margin-top: 5px;
  color: #030521;
  font-weight: 500;
}


.hero-content h2, .history-section h2, .values-section h2, .extra-content h2 {
  color: #030521;
  font-weight: 600;
  font-size: 40px;
}

.hero-btn {
  border-radius: 50px;
  margin-top: 30px;
  cursor: pointer;
  padding: 0.75rem 1.2rem;
  font-size: 18px;
  padding: 0.75rem 1.2rem;
  transition: .5s ease;
  background-color: #003366;
  color: #efeafe;
}

.hero-btn:hover {
  background-color: #030521;
}


/* History Section */
.history-section {
  text-align: center;
  padding: 40px 120px;
  background-color: #f8f8f8;
  font-size: 18px;

}

.history-image {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  border-radius: 10px;
}

/* Values Section */
.values-section {
  padding: 40px 20px;
}

.values-section h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.values-section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

.values-section li {
  font-size: 18px;
  max-width: 350px;
  text-align: center;
  color: #efeafe;
  background-color: #003366;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Services Section */
.services-section {
  text-align: center;
  padding: 40px 20px;
}

.services-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}


/* Extra Section */
.extra-section {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  background-color: #e9f7fa;
}

.extra-content {
  max-width: 600px;
}

.extra-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.extra-content p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  padding-right: 30px;
}

.extra-image {
  width: 50%;
  border-radius: 10px;
}



/* Responsive */
@media (max-width: 768px) {
  .hero-section-about {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: auto;
  }

  .hero-section-about {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./aboutHero.jpg') no-repeat center center/cover;
    padding: 0px 10px;
    border-bottom: 4px solid #f1f1f1;
    height: 100vh;
    display: flex;
    background-blend-mode: darken;
  }

  .hero-content p.subtitle {
    font-size: 20px;
    margin-top: 5px;
    color: white;
    font-weight: 500;
  }

  .hero-content {
    width: 100%;
  }

  .about-hero h2, .about-hero h1, .about-hero p{
color: #f8f8f8;
  }

  .hero-vide {
    display: none;
  }

  .extra-section {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
  }

  .extra-content p {
    padding-right: 0;
  }

  .extra-image {
    width: 100%;
    margin-top: 20px;
  }

  .values-section ul {
    flex-direction: column;
    align-items: center;
  }

  .values-section li {
    width: 90%;
  }

  .history-section {
    padding: 40px 20px;
  }

}
