/* Footer.css */
.footer-container {
    background-color: #282c34;
    color: white;
    padding: 40px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    height: auto;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 10%;
  }
  
  .footer-section {
    margin: 20px;
    flex: 1;
    min-width: 200px;
  }
  
  .footer-section h4 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .footer-section p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .footer-section .social-media a{
    font-size: 15px;
  }
  .social-media-title{
    margin-bottom: -40%;
    font-size: 13px;
  }
  .footer-section .company-info{
    margin-top: 40%;
  }
  
  .footer-link {
    display: block;
    color: #61dafb;
    text-decoration: none;
    margin-bottom: -20px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .footer-input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .footer-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #61dafb;
    color: white;
    cursor: pointer;
  }
  
  .footer-button:hover {
    background-color: #21a1f1;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 5px;
  }
  .footer-bottom p{
   font-size: large;
   font-weight: 100;
  }
  .adress-list{
    display: flex;
    gap: 5px;
    list-style-type: none;
    padding: 0;
    margin-left: -1%;


  }
  .adress-list p{
   width: 100%;
  }
  .adress-list li{
    margin-bottom: 5px;
    width: 100%;
    font-size: 15px;
    margin-left: -70%;
  }
  
  .email-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin-left: -1%;

  }
  
  .email-list li {
    margin-bottom: 5px;
    font-size: 18px;
    margin-left: -4%;

  }
  
  .phone-list {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    margin-left: -1%;

  }
  @media screen and (max-width: 1024px) {
    .footer-container {
      background-color: #282c34;
      color: white;
      padding: 40px 20px;
      position: relative;
      bottom: 0;
      width: 100%;
      margin-top: 20px;
      height: 45vh;
    }
    .footer-section h4 {
      margin-bottom: 1px;
      font-size: 40px;
      margin-left: -20%;
      margin-top: -10%;
      
    }
    .footer-section p {
      margin-bottom: 10px;
      font-size: 20px;
      margin-left: -20%;
      color: #fff;


    }
    .footer-section li {
      margin-bottom: 10px;
      font-size: 20px;
      margin-left: -20%;
      color: #fff;


    }
    .footer-link{
      font-size: 20px;
      margin-left: -20%;


    }
    .footer-bottom p{
      font-size: 20px;

    }
    .adress-list{
      display: flex;
      gap: 1px;
      list-style-type: none;
      padding: 0;
      margin-left: 1%;
      margin-top: 5%;
  
  
    }
    .adress-list p{
     width: 100%;
    }
    .adress-list li{
      margin-bottom: 5px;
      width: 100%;
      font-size: 15px;
      margin-left: -75%;
    }
    
    .email-list {
      display: flex;
      gap: 20px;
      list-style-type: none;
      padding: 0;
      margin-left: 1%;
  
    }
    
    .email-list li {
      margin-bottom: 5px;
      font-size: 18px;
      margin-left: -4%;
  
    }
    
    .phone-list {
      display: flex;
      gap: 10px;
      list-style-type: none;
      padding: 0;
      font-size: 18px;
      margin-left: 1%;
  
    }
    .phone-list li {
      margin-bottom: 5px;
      font-size: 18px;
      margin-left: -1%;
  
    }
  
    }
 
  @media screen and (max-width: 700px) {
    .footer-section h4 {
      margin-bottom: 1px;
      font-size: 20px;
      margin-left: -20%;
      margin-top: -20%;
      
    }
    .footer-section p {
      margin-bottom: 10px;
      font-size: 18px;
      margin-left: -20%;
      color: #fff;

    }
    .footer-section li {
      margin-bottom: 10px;
      font-size: 18px;
      margin-left: -20%;
      color: #fff;


    }
    .footer-link{
      font-size: 18px;
      margin-left: -20%;


    }
    .footer-bottom p{
      font-size: 13px;
font-weight: 100;
    }
    .email-list{
      margin-left: -1%;
    }
    .adress-list{
      display: flex;
      gap: 1px;
      list-style-type: none;
      padding: 0;
      margin-left: 1%;
      margin-top: 5%;
  
  
    }
    .adress-list p{
     width: 100%;
    }
    .adress-list li{
      margin-bottom: 5px;
      width: 100%;
      font-size: 10px;
      margin-left: -25%;
      font-weight: 200;
    }
    
    .email-list {
      display: flex;
      gap: 20px;
      list-style-type: none;
      padding: 0;
      margin-left: 1%;
  
    }
    
    .email-list li {
      margin-bottom: 5px;
      font-size: 12px;
      margin-left: -4%;
      font-weight: 200;
  
    }
    
    .phone-list {
      display: flex;
      gap: 10px;
      list-style-type: none;
      padding: 0;
      font-size: 18px;
      margin-left: 1%;
  
    }
    .phone-list li {
      margin-bottom: 5px;
      font-size: 10px;
      margin-left: -1%;
      font-weight: 200;
  
    }
  
    }